body {
    text-align: center;
}

/*.navbar-custom {*/
/*  height: 100px;*/
/*}*/

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.4);
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

/*.navbar-collapse.in {*/
/*    display: block !important;*/
/*}*/